body {
  @include body-font;
  color : $shadow-4;
  background-color: $shadow-6;
}

/* Comportement texte sélectionné */
::selection {
  background-color: $primary;
  color : $light;
}

/* 
Comportement des liens
 */
// Liens de la main nav
a, .main__nav .navbar-brand, .main__nav__ul .nav-item .nav-link {
  color : $shadow-2;
  transition : 1s;
  text-decoration: none;
  transition : color $medium;
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

// Liens de la nav aside
a, .second__nav__link, .social__nav__link {
  color : $primary;
  transition : 1s;
  transition : color $medium;
  &:hover {
    color: $shadow-3;
  }
}

// Liens du footer
a, .footer__nav__list-item__link {
  color : $shadow-2;
  text-decoration: underline;
  transition : 1s;
  transition : color $medium;
  &:hover {
    color: $primary;
    text-decoration: underline;
  }
}

/* 
Listes
 */
 ul {
   padding: 0;
 }
li {
   list-style: none;
}