.bike-race {
    
    &__title {
        @media (min-width : $bp-mobile-s) and (max-width: $bp-tablet) {
            margin: 4em 0 1.5em 0;
        }
        @media (min-width : $bp-laptop-s) {
            margin: 4em 0 2.5em 0;
        }
    }

    &__container {
        @media (min-width : $bp-mobile-s) {
            height: 12em;
        }
        @media (min-width : $bp-mobile-m) {
            height: 15em;
        }
        @media (min-width : $bp-tablet) {
            height: 30em;
        }
        @media (min-width : $bp-laptop-s) {
            height: 33em;
        }
        @media (min-width : $bp-laptop-m) {
            height: 37em;
        }
        overflow:hidden;
        box-sizing: border-box;
        box-shadow: 0 0 50px $shadow-3;
        margin-bottom: 5em;
        /* transition : $slow; */
        
        .bike-race__image {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat; 
            background-position: center;
            width: 100%;
            height: 100%;
            transition : $slow;
        }
        /* .bike-race__overlay {
        } */
        
    }

    .bike-race__image:hover {
        transform: rotate(-10deg) scale(1.9);
        transition: transform $slowliest;
    }

    &__content {
        text-align: center;
    }
}

