 /* Aside nav = link contact/réseaux sociaux en fixed */

 .second__nav {
  left: 0;
  top: 0;
  height: 100%;
  width: 4em;
  position: fixed;
  background-image: transparentize($light, 1);
  z-index:10;
}

.second__nav__link {
  color: $primary;
  font-size: 1.8em;
  height : 2.5em;
  transition : color $medium;
  &:hover {
    color: $shadow-4;
  }
}

@media (min-width: $bp-mobile-s) and (max-width: $bp-tablet) {
  .second__nav {
    display: none;
  }
}