/* Main nav */

.navbar-brand, .main__nav__ul {
  @include title-font;
  font-size: 1.3em;
}

.main__nav {
  z-index: 20;
  padding-bottom : 1.5em;
  background-image: linear-gradient(
    180deg,
    $shadow-2,
    $light
  );
  /* Links */
  a {
    text-decoration: none;
  }
  /* Zone recherche */
  .form-control {
    border-radius : 0;
  }
  .form-control:focus {
    border-color: $shadow-1;
    box-shadow: 0 0 0 0.2rem $shadow-1;
  }
  .button__search {
    border-radius : 0;
    font-weight: bold;
    color: $light;
    /* border-color:$primary; */
    background-color: $primary;
    transition : background-color $medium, color $medium;
      &:hover {
        background-color : $shadow-4;
        color: $light;
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem $shadow-1;
      }
    }
}

  