/* Main nav */
.navbar-brand, .main__nav__ul {
  @include title-font;
}
.navbar  {
  background-color: $shadow-6 !important;
}
.navbar-toggler-icon {
  background-color: $shadow-5;
}

.main__nav {
  position: fixed;
  top:0; 
  width: 100%;
  z-index: 20;
  padding-top: .5em;
  padding-bottom : .5em;
  font-size:1.3em;
  @media (max-width: $bp-mobile-s) {
    font-size:1.2em;
  }
  @media (max-width: $bp-mobile-l) {
    padding-top: .5em;
    padding-bottom : 0; 
  }
  .navbar-brand {
    font-size:1.1em;
  }

  /* Zone recherche */
  .form-control {
    border-radius : 0;
  }
  .form-control:focus {
    border-color: $dark;
    box-shadow: 0 0 0 0.2rem $shadow-3;
  }
  .button__search {
    border-radius : 0;
    font-weight: bold;
    color: $light;
    background-color: $primary;
    transition : background-color $medium, color $medium;
      &:hover {
        background-color : $shadow-3;
        color: $light;
      }
      &:focus {
        box-shadow: 0 0 0 0.2rem $shadow-1;
      }
    }
}

  