.slider-mobile{
    @media (min-width: 767px) {
        display:none;
    }
}
.slider-tab{
    @media (min-width: $bp-mobile-s) and (max-width: 767px) {
        display:none;
    }
}

.banner {

    &__slider {
        @media (min-width: $bp-mobile-s) {
            margin-top: 5em;
        }
        @media (min-width: $bp-laptop-m) {
            margin-top: 7em;
        }
    }
    
    /* Style du titre */
    &__slider__title {
        @media (min-width: $bp-mobile-s) {
            font-size: 2em;
        }
        @media (min-width: $bp-tablet) {
            font-size: 3em;
        }
        @media (min-width: $bp-laptop-s) {
            font-size: 4em;
        }
      @media (min-width: $bp-laptop-m) {
        font-size: 5em;
      }
        @media (min-width: $bp-4k) {
            font-size: 6em;
        }
        color: $primary;
    }

    /* Position du titre sur le slider */
    .carousel-caption {
         top: -30px;
    }

    /* Hauteur slider */

.carousel-item{
    @media (min-width: $bp-laptop-m) {
        max-height:900px;
    }
}
    /* Controls */
    .carousel-control-prev-icon, .carousel-control-next-icon {
        @media (max-width: $bp-tablet) {
            width: 35px !important;
            height: 30px;
        }
        @media (min-width: $bp-tablet) {
            width: 55px !important;
            height: 35px;
        }
        @media (min-width: $bp-4k) {
            width: 55px !important;
            height: 100px;
        }
     }
}

