/* Colors */
$dark:         #000 !default;
$x-light:      #fff !default;
$light:        #f8f9fa !default;
$primary:      #9b1926 !default;
$shadow-1:     #868e96 !default;
$shadow-2:     #495057 !default;
$shadow-3:     #343a40 !default;

/* Breakpoints */
$bp-mobile-s: 320px;
$bp-mobile-m: 375px;
$bp-mobile-l: 425px;
$bp-tablet: 768px;
$bp-laptop-s: 1024px;
$bp-laptop-m:1440px;
$bp-4k: 2560px;
