/* Couleurs */
$primary:      #9b1926 !default;
$light:        #f8f9fa !default;
$x-light:      #fff !default;
$shadow-1:     #ced4da !default;
$shadow-2:     #adb5bd !default;
$shadow-3:     #868e96 !default;
$shadow-4:     #60676d !default;
$shadow-5:     #474e55 !default;
$shadow-6:     #212529 !default;
$dark:         #000 !default;

/* Breakpoints */
$bp-mobile-s: 320px;
$bp-mobile-m: 375px;
$bp-mobile-l: 425px;
$bp-tablet: 768px;
$bp-laptop-s: 1024px;
$bp-laptop-m:1440px;
$bp-4k: 2560px;

/* Transitions */
$slowlier: 2s;
$slowly: 1.5s;
$slow: 1s;
$medium: 0.8s;
$fast: 0.5s;
$faster: 0.3s;


